.app {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 1vh 2vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app .toolbar {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.75em;
  padding: 1em;
  background-color: var(--dark-green);
  color: var(--light-green);
}

.app .toolbar .settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.33rem;
}

.app .charts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app .toolbar .last-updated-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.33em; /* Mimics a single whitespace */
}

.app .toolbar .last-updated-section .refresh-icon {
  width: 20px;
  height: 20px;
}

.app .toolbar .last-updated-section .refresh-icon:hover {
  cursor: pointer;
}
