.app {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app .toolbar {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app .charts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app .toolbar .latest-entry-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.33em; /* Mimics a single whitespace */
}
