.filter-form {
  display: flex; /* Prevents calender popup from pushing neighbours */
  flex-wrap: wrap;
  align-items: center;
  gap: 0.33em; /* Mimics a single whitespace */
}

.filter-form .date-picker {
  width: 17ch;
}

.filter-form input {
  width: 4ch;
}

/* Remove up/down arrow when hovering over input field */
.filter-form input[type='number']::-webkit-outer-spin-button,
.filter-form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter-form input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
