:root {
  --black: rgb(10, 10, 10);
  --grey: rgb(30, 30, 30);
  --white: rgb(190, 190, 190);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -1px;
}
