:root {
  --darkest-green: rgb(10, 40, 40);
  --dark-green: rgb(10, 55, 60);
  --green: rgb(25, 190, 140);
  --light-green: rgb(225, 255, 205);

  background-color: var(--dark-green);
  color: var(--light-green);
  caret-color: var(--light-green);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -1px;
}

::selection {
  background-color: rgba(25, 190, 140, 0.2);
}
