.max-points-form {
  display: flex;
  align-items: center;
  gap: 0.33em; /* Mimics a single whitespace */
}

.max-points-form input {
  all: unset;
  width: 4.5ch;
  text-align: center;
  background-color: var(--grey);
  border-radius: 0.25em;
}

.max-points-form button {
  all: unset;
  background-color: var(--grey);
  border-radius: 0.25em;
  padding: 0 0.5em;
}

.max-points-form button:hover {
  cursor: pointer;
}

/* Remove spinner controls from number input */
.max-points-form input[type='number']::-webkit-outer-spin-button,
.max-points-form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.max-points-form input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
