.time-series-chart {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkest-green);
  border-radius: 1em;
  padding: 1em;
}

.time-series-chart h1 {
  margin: 0 0 0.5em 0;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: normal;
  color: var(--green);
}

/* Disable focus outline when chart is clicked */
.time-series-chart .responsive-container *:focus {
  outline: none;
}
